:root{
    --laranja: #F27706;
    --branco: #ffffff;
    --verde: #199570;
    --vermelho: #F93030;
    --gradiente-laranja: linear-gradient(180deg, rgba(252,121,0,0.85) 35%, rgba(252,121,0,0) 100%);
    --fonte-principal: 'Roboto', sans-serif;
}